DOCKER_UTILS_NETWORK=docker-utils

# Portainer
PORTAINER_BIND_ADDRESS=127.0.0.1
PORTAINER_PORT=9000

# PostgreSQL
POSTGRES_BIND_ADDRESS=127.0.0.1
POSTGRES_PORT=5433
POSTGRES_USER=user
POSTGRES_PASSWORD=change-me
POSTGRES_DB=mydb

# pgAdmin
PGADMIN_BIND_ADDRESS=127.0.0.1
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@admin.local
PGADMIN_DEFAULT_PASSWORD=change-me

# n8n
N8N_BIND_ADDRESS=127.0.0.1
N8N_HOST_PORT=5678
N8N_HOST=localhost
N8N_PROTOCOL=http
WEBHOOK_URL=http://localhost:5678/
GENERIC_TIMEZONE=Europe/Paris
DB_POSTGRESDB_HOST=postgres
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE=mydb
DB_POSTGRESDB_USER=user
DB_POSTGRESDB_PASSWORD=change-me
DB_POSTGRESDB_SCHEMA=n8n
