DOCKER_UTILS_NETWORK=docker-utils

OLLAMA_BIND_ADDRESS=127.0.0.1
OLLAMA_PORT=11434
OLLAMA_KEEP_ALIVE=5m

OPEN_WEBUI_BIND_ADDRESS=127.0.0.1
OPEN_WEBUI_PORT=3000
OPEN_WEBUI_OLLAMA_BASE_URL=http://ollama:11434
OPEN_WEBUI_AUTH=true
